<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link href="/dist/css/login.css" type="text/css" rel="stylesheet" rev="stylesheet"/>
<link rel="icon" type="image/png" href="/dist/css/logo.png" />
</head>
<body class="denglu02">
	<div class="dl">
		<div class="biaoti">
<!-- 		<img src="/dist/css/images/ico02.png" /> -->
			<div style="font-size: 70px;color: red;">
<!-- 			<img src="/dist/css/images/logo.png" alt="" style="height: 80px;"/> -->
				统一认证
			</div>
		</div>
		<div class="log">
			<ul class="xuzhi02">
				 <li class="xz">统一认证</li>
				 <li>1.</li>
				 <li>2.</li>
				 <li>3.</li>
				 <li>4.</li>
			</ul>
			<form action="/login" method="post">
			  <ul class="deng02">
			  
				<li style=" width:100%; height:60px;">
					<p style="float:left;font-size:18px; color:#666;line-height:30px; ">用户名:</p> 
					<input name="username" class="i-text" type="text" errormsg="用户名至少6个字符,最多18个字符！" datatype="s6-18"  maxlength="100"  placeholder="填入账号" />
				</li>
				<div style="clear:both;"></div>
		
				<li style=" width:100%; height:60px;"> 
					<p style="float:left;font-size:18px; color:#666;line-height:30px; ">密&nbsp;&nbsp;&nbsp;码:</p> 
					<input name="password" class="i-text" type="password" errormsg="用户名至少6个字符,最多18个字符！" datatype="s6-18"  maxlength="100"  placeholder="填入密码" />
				</li>
				<div style="clear:both;"></div>
<!-- 				<li style=" width:100%; height:60px;"> -->
<!-- 					<p style="float:left;font-size:18px; color:#666;line-height:30px; ">验证码:</p>  -->
<!-- 					<input id="username" class="i-text" type="text" errormsg="用户名至少6个字符,最多18个字符！" datatype="s6-18" ajaxurl="demo/valid.jsp" maxlength="100" value="输入账号"> -->
<!-- 				</li> -->
				<li style=" width:100%; height:60px;">
					<button id="logonbtn" class="btn-login02"  type="submit" > 
					<span>登&nbsp;&nbsp;&nbsp;&nbsp;录</span>
				  </button>
				</li>
			</ul>
			</form>
		</div>
	</div>
</body>
</html>
